***ARITHMETIC*** ***OPERATORS***

---



---
Addition
Subtraction
Multiplication
Division
Modulus
Exponentiation
Floor division

In [5]:
a:int=24
b:int=2
print(a+b)    #addition
print(a-b)    #subtraction
print(a/b)    #division
print(a*b)    #mutiplication

26
22
12.0
48

In [4]:
a:int=5
b:int=8
print(a*b)    #multiplication
print(a**b)    #exponentiation   same as 5*5*5*5*5*5*5*5

40
390625

In [7]:
#the floor division // rounds the result down to the nearest whole number
x:int=8
y:int=5
print(x//y)     #floor division

1

In [9]:
print(5%9)     #modulus or remainder
print(4%3)

5
1

**2**.**ASSIGNMENT** **OPERATOR**
Assignment operator is = , which simply assigns the value of the right-hand operand to the left-hand operand.

In [10]:
# Assign
a:int=8
b:int=4
c:int=4
print(b+c+a)

16

In [17]:
# +=
a:int=6
a+=2
print(a)

8

In [16]:
# -=
a:int=8
a-=2
print(a)

6

In [15]:
#*=
A:int=7
A*=12
print(A)

84

In [20]:
# /=
c=30
c/=5
print(c)

6.0

In [22]:
#%=
g=55
g%=10
print(g)

5

In [23]:
# **=
h=12
h**=4
print(h)

20736

*** Comparison Operators***

---


Comparison operators are used to compare two values:

In [24]:
x:int=25
y:int=40
print(x==y)    #equal to
print(y!=x)    #not equal to
print(x>y)     #greater than
print(y>x)
print(x<y)     #less than
print(y<x)
print(x>=y)    #greater than or equal to
print(x<=y)    #less than or equal to

False
True
False
True
True
False
False
True

***Logical Operators***

---


Logical operators are used to combine conditional statements:

AND

In [39]:
x=5
print(x>2 and x<8)          #Returns True if both statements are true
print(x>4 and x<3)          #Return flase if one statement is incorrect

True
False

OR

In [40]:
x=5
print(x>3 or x<4)            #Returns True if one of the statements is true
print(x>6 or x<4)

True
False

NOT

In [41]:
x=5                         #Reverse the result, returns False if the result is true
print(not(x>3 and x<10))
print(not(x>6 and x<4))

False
True